body{
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 0.5px;                                      
}

#cookies-circle{
    background: #3597ff;
    bottom: 25px;
    right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: ease 0.15s;
}

#cookies-circle:hover{
    transition: ease 0.15s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    z-index: 1000 !important;
}

.header-btn-community{
    font-size: 12px !important;
    padding: 6px 12px !important;
    vertical-align: middle !important;
}

.header-btn-community:hover{
    transition: ease 0.25s;
    color: black !important;
}

.btn-gray {
    color: #989ca2;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);
}

main-text {
    background-color: rgb(53, 151, 255) !important;
}

.btn-primary{
    background-color: #3597ff !important;
    border-color: #3597ff !important;
    padding: 12px 20px !important;
    font-size: 14px !important;
    border-radius: 6px;
}

header .border-bottom{
    border-color: #d7eaff !important;
}

/* header .container{
    height: 50px;
    color: #1a232f;
    font-size: 13px;
} */

.header1{
    height: 50px;
    color: #1a232f;
    font-size: 13px;
}

nav.navbar.main-navbar .navbar-nav *{
    font-size: 14px;
    color: #1a232f !important;
    font-weight: 500;
    z-index: 999;
}

nav ul{
    margin-top: 15px;
}

#join-us .card{
    grid-template-columns: auto;
    max-width: 300px;
}

@media (min-width: 992px){
    nav.navbar.main-navbar{
        height: 80px;
    }

    #main-txt-img{
        left: 50%;
        width: auto ;
        height: auto ;
        bottom: 0;
    }

    #openlab-o-divider{
        max-width: 402px;
        max-height: 402px;
    }
}

@media (max-width: 1400px){

    nav{
        max-width: 1150px !important;
    }

}

@media (max-width: 1199px){

    nav{
        max-width: 975px !important;
    }

    #join-us .card{
        grid-template-columns: auto;
        max-width: 435px;
    }

}

@media (max-width: 991px){

    #openlab-o-divider{
        display: none !important;
    }

    nav{
        max-width: 730px !important;
    }

    #join-us .card{
        grid-template-columns: auto;
        max-width: 335px;
    }
}


@media (max-width: 767px){
    .header-btn-community{
        font-size: 12px !important;
        max-height: 30px;
        width: 225px;
        justify-content: center;
    }

    nav{
        max-width: 555px !important;
    }

    .our-vision div{
        max-width: 200px;
    }

    #join-us .card{
        grid-template-columns: auto;
        min-width: 235px;
    }
}

@media (max-width: 568px){
    .header-btn-community{
        font-size: 10px !important;
        max-height: 30px;
        width: 245px;
    }

    .our-vision div{
        max-width: 160px;
        max-height: 120px;
    }

    .our-vision .count{
        font-size: 55px !important;
    }

    #schools{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

}

nav{
    max-width: 1300px;
}

#openlab-o-divider{
    max-width: 482px;
    max-height: 482px;
    width: auto ;
    height: auto ;
    right: -241px ;
    top: 310px;
    z-index: 1;
    overflow: hidden ;
    position: absolute;
    display: none;
}

.primary-bg{
    background-color: #3597ff !important;
}

#why p{
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;;
}

.text-gray{
    color: #566b8d;
}

.cont-size{
    max-width: 1320px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#our-vision .item {
    width: 233px;
    height: 183px;
    border-radius: 4px;
}

#our-vision .item .count {
    font-size: 90px;
}

#our-vision .item .type {
    font-size: 18px;
}

#our-vision .item:nth-child(1) {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}

#our-vision .item:nth-child(2) {
    color: rgb(92, 193, 154);
    background-color: rgba(156, 238, 204, 0.4);
}

#our-vision .item:nth-child(3) {
    color: rgb(219, 202, 104);
    background-color: rgba(238, 226, 156, 0.4);
}

#our-vision .item:nth-child(4) {
    color: rgb(185, 94, 115);
    background-color: rgba(238, 156, 156, 0.4);
}

#labs .card img {
    bottom: 30px;
}

.shadow-hover {
    transition: ease 0.2s;
    border-radius: 6px !important;
}

.shadow-hover:hover{
    transition: ease 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mx-width-schools{
    max-width: 550px !important;
}

#us-team div img{
    max-width: 306px;
}

#us-team div .card{
    max-width: 330px;
}

.modern-divider{
    margin-top: 300px;
}

#modernschool div img{
    max-width: 636px;
}